/* For Divs */
.social-div {
    position: relative;
}

.social-img {
    border-radius: 50%;
    filter: invert(13%) sepia(44%) saturate(514%) hue-rotate(178deg) brightness(99%) contrast(95%);
    height: 3rem;
    width: 3rem;
    margin: 0 .25rem;
}

.social-img:hover {
    filter: invert(8%) sepia(100%) saturate(7399%) hue-rotate(248deg) brightness(100%) contrast(139%);
}